.carte-container {
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40%;
    border-radius: 1.042vw;
    padding: 1.5625vw;
    padding-bottom: 2.604vw;
}

.carte-container img {
    width: 5vw;
}

.carte-container h3,
.carte-container ul {
    font-family: Raleway;
}

.carte-container h3 {
    font-size: 2.083vw;
    color: #4F4F4F;
}

.carte-container ul {
    list-style-type: none;
    color: #4B5CC4;
    padding: 0;
    margin: 0;
}

.carte-container ul li {
    font-size: 1.042vw;
}