.carte-container {
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40%;
    border-radius: 20px;
    padding: 30px;
    padding-bottom: 50px;
}

.carte-container img {
    width: 96px;
}

.carte-container h3,
.carte-container ul {
    font-family: Raleway;
}

.carte-container h3 {
    font-size: 40px;
    color: #4F4F4F;
}

.carte-container ul {
    list-style-type: none;
    color: #4B5CC4;
    padding: 0;
    margin: 0;
}

.carte-container ul li {
    font-size: 20px;
    text-align: center;
    margin: 10px 0;
}

@media screen and (max-width:768px) {
    .container-under {
        gap: 35px;
    }

    .carte-container {
        width: 70%;
        border-radius: 15px;
        padding: 10px;
        padding-bottom: 30px;

    }
    .carte-container img {
        width: 60px;
    }
    .carte-container h3 {
        font-size: 20px;
        font-weight: bold;
    }

    .carte-container ul li {
        font-size: 15px;
        margin: 7px 0;
    }
}