.home {
    background-color: #4B5CC4;
    box-sizing: border-box;
    min-height: 100dvh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 60px;
}

.home-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 7.552vw;
}

.home-container--left {
    display: flex;
    flex-direction: column;
    gap: 2.604vw;
    width: 46%;
}

.home-container--left---text {
    gap: 1.5625vw;
    display: flex;
    flex-direction: column;
}

.home-container--left---text1,
.home-container--left---title,
.home-container--left---text2 {
    color:#ffffff;
    margin: 0;
}

.home-container--left---text1 {
    font-size: 48px;
}
.home-container--left---title {
    font-size: 80px;
}
.home-container--left---text2 {
    font-size: 25px;
}

button {
    width: 46%;
    border: none;
    color: #4B5CC4;
    font-family: Raleway;
    font-size: 20px;
    border-radius: 20px;
    padding: 20px;
}

.home-container--left---icon {
    width: 35%;
    display: flex;
    justify-content: space-between;
}

.home-container--left---icon > img {
    width: 15%;
}

.home-container-right {
    background-color: #ffffff;
    width: 25vw;
    height: 25vw;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    object-fit: cover;
}

.home-container-right > img {
    width: 100%;
    max-width: 400px;
}

@media screen and (max-width:768px) {
    .home {
        padding: 25px;
    }

    .home-container--left {
        width: 100%;
        align-items: center;
        gap: 35px;
    }

    button {
        width: 70%;
        font-size: 13px;
        padding: 13px;
    }

    .home-container--left---icon {
        width: 50%;
    }

    .home-container-right {
        display: none;
    }

    .home-container--left---text {
        align-items: center;
    }

    .home-container--left---text1 {
        font-size: 25px;
    }

    .home-container--left---title {
        font-size: 45px;
    }

    .home-container--left---text2 {
        text-align: center;
        font-size: 15px;
    }
}