.galerie-container {
    width: 45%;
    display: flex;
    flex-direction: column;
    position: relative;
    border-radius: 15px;
}

.img-container {
    width: 100%;
    height: 100%;
    border-radius: 15px;
    position: relative;
}

.galerie-container img:not(.lien) {
    width: 100%;
    height: 100%;
    border-radius: 15px;
    position: relative;
    object-fit: cover;
}

.masque {
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: .5;
    position: absolute;
    top: 0%;
    border-radius: 15px;
}

.galerie-container img.lien {
    width: 30px;
    height: auto;
    position: absolute;
    right: 7%;
    top: 5%;
    cursor: pointer;
}

.galerie-container img.lien:hover {
    transform: scale(1.3);
}

.text-container {
    position: absolute;
    left: 5%;
    bottom: 4%;
}


.text-container h4,
.text-container p {
    color: #ffffff;
}

.text-container h4 {
    font-size: 17px;
    border: 2px solid;
    border-radius: 10px;
    padding: 7px;
    display: inline-block;
    margin-block-end: 0;
    margin-bottom: 0;
}

.text-container p {
    font-size: 20px;
}

@media screen and (max-width:768px) {
    .galerie-container {
        width: 94%;
    }

    .galerie-container,
    .img-container,
    .galerie-container img ,
    .masque {
        border-radius: 10px;
    }

    .galerie-container img.lien {
        width: 22px;
        right: 5%;
        top: 4%;
    }

    .text-container h4 {
        font-size: 13px;
        border: 1px solid;
        border-radius: 8px;
        padding: 5px;
    }

    .text-container p {
        font-size: 15px;
    }
}