.experience {
    background-color: #EAF1FA;
    box-sizing: border-box;
    min-height: 100dvh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 60px;
}

.experience-container {
    display: flex;
    flex-direction: column;
    gap: 35px;
}

.contenus-container {
    display: flex;
    justify-content: space-between;
}

.experience-container h2 {
    color:#4B5CC4;
    font-size: 80px;
    text-align: center;
}

.line {
    width: 1px;
    background-color: #4B5CC4;
}

@media screen and (max-width:768px) {
    .contenus-container {
        flex-direction: column;
        align-items: center;
        gap: 1.823vw;
    }

    .experience-container h2 {
        font-size: 45px;
    }
}