.skills {
    background-color: #4B5CC4;
    padding: 60px;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    min-height: 100dvh;
}

.page-container {
    display: flex;
    flex-direction: column;
    gap: 35px;
}

.container-under {
    display: flex;
    justify-content: space-around;
}

@media screen and (max-width:768px) {
    .skills {
        padding: 10px;
    }

    .title-container h2 {
        font-size: 45px;
    }

    .page-container {
        gap: 0;
    }
}