.parcour-container {
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.parcour-container img {
    width: 96px;
}

.parcour-container h3,
.parcour-container ul li {
    color:#4B5CC4;
    font-family: 'Raleway';
}

.parcour-container h3 {
    font-size: 40px;
    text-align: center;
}

.parcour-container ul li{
    font-size: 20px;
}

.parcour-yayout {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.parcour {
    color:#4B5CC4;
}
.parcour h4{
    font-size: 20px;
}

.parcour p{
    font-size: 15px;
    font-style: italic;
}

@media screen and (max-width:768px) {
    .parcour-container {
        width: 100%;
    }

    .parcour-container img {
        width: 60px;
    }

    .parcour-container h3 {
        font-size: 25px;
        text-align: center;
    }

    .parcour-yayout {
        gap: 2px;
    }

    .parcour h4{
        font-size: 17px;
    }
    
    .parcour p{
        font-size: 13px;
    }

}