@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Raleway&display=swap');

html,body {
  margin: 0;
  padding: 0;
  font-family: 'Raleway', sans-serif;
}

.container {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
}

.ul,
.ul li {
  list-style: 0;
  margin: 0;
  padding: 0;
}