.nav {
    background-color: #4B5CC4;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    width: 93.4%;
    margin: 0 auto;
    padding: 15px 0;
    box-sizing: border-box;
}

.nav-right img {
    display: none;
}

.nav-left,
.nav-right span {
    color: #ffffff;
    font-size: 17px;
    font-family: 'Raleway';
}

.nav-right{
    width: 40%;
    display: flex;
    justify-content: space-between;
}


@media screen and (max-width:768px){
    .nav-left {
        font-size: 12px;
    }

    .nav-right img {
        display: block;
    }

    .nav-right span {
        display: none;
    }



}